extends layout

block head
  script(src="/js/bootstrap.min.js", charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css') 

block content

  :stylus
    h1, p
      margin 5px
    #form, #graph
      position relative
      width 800px
      margin 0 auto
      padding 10px
      margin-bottom 20px
    #graph
      height 400px
    line path
      fill none
      stroke #000
      shape-rendering crispEdges
    .area
      fill steelblue

  .well
    h1 Please connect to your account before
    p You need to connect before getting your metrics

  ol.breadcrumb
    li
        a(href='http://localhost:1234/') Home
      li.active Login

  #form
    .form-group
      form(action='/user/connect', method='post')
        p <b>Username: </b>
        input#login_username(name='username' class="form-control" placeholder="Username")
        br

        p <b>Password: </b>
        input#login_password(name='password', type="password" class="form-control" placeholder="Password")

        br
        button.btn.btn-default#metric_ok(type='submit')
          |  Connect

  .well
    p Need an account?
        a(href='http://localhost:1234/user/add')
          button.btn.btn-success(type='button', style='align-left;margin-left: 20px;') 
            span.glyphicon.glyphicon-pencil
            |  Create an account
  