extends layout

block head
  script(src="/js/bootstrap.min.js", charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css') 


block content
  .well
    h1 Goodbye
    p We hope we'll see you again!

    a(href='http://localhost:1234')
          button.btn.btn-default(type='button', style='align-left;margin-left: 20px;') 
            span.glyphicon.glyphicon-home
            |  Connect me again!

