extends layout

block head
  script(src="/js/jquery.js", charset="utf-8")
  script(src="/js/bootstrap.min.js", charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css') 


block content

  .well
    h1 Metric added
    h3 Your metric has been added to the database.

    a(href='http://localhost:1234/data/add')
          button.btn.btn-success(type='button', style='align-left;margin-left: 20px;') 
            span.glyphicon.glyphicon-pencil
            |  Add a new metric

    a(href='http://localhost:1234')
          button.btn.btn-default(type='button', style='align-left;margin-left: 20px;') 
            span.glyphicon.glyphicon-home
            |  Go home


    
  