extends layout

block head
  script(src="/js/jquery.js", charset="utf-8")
  script(src="/js/bootstrap.min.js", charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css') 


block content

  .well
    h1 Metric added
    h3 Your metric has been added to the database.

    p 
     | Add a 
     a(href="http://localhost:1234/data/add") new metric.

    a(href="http://localhost:1234/") Go home!


    
  